*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

  background-color: #000000;

}
.F12h{
  position: relative;
}
.f1{
  position: absolute;
  
  left: 30px;
  list-style: none;
  background-color: #636262;
  width: 150px;
 
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition:0.3s ease ;
  
}
.lie a{
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  
}
.lie a:hover{
  
   text-align: center;
}
.F12h:hover .f1{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.header{
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: space-between;
margin-top: -12px;
    border-radius: 10px;
  background: linear-gradient(
  120deg,
  #0b0b0b, /* soft gold */
  #e4e1e1, /* warm orange */
  #000000  /* elegant brown */
);
   margin: auto;
position: fixed;
z-index: 999;
margin-left: 8%;
top: 10px;
height: 100px;



}
                     


.header img{
    width: 17%;
    height: 100px;
    border-radius: 30%;
   margin-top: -1px;
  filter: brightness(1.30);
  margin-left: 15px;
 
   
    
}
header i{
    color: #ffffff;
}
.search-box {
  position: relative;
  width: 250px;
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;  
  border: 1px solid #3f3d3d;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 30px;
  
  

}

.search-box i {
  position: absolute;
  right: 10px;     
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #312f2f;
  margin-top: -1px;
  font-size: 20px;
  z-index: 999;
}
.r12 i{
    
  top: 60px;
 right: 250px;
 z-index: 999;
    margin-right: 13px;
  transform: translateY(-50%);
  font-size: 30px;
  color: #e7e1e1;
  margin-top: -10px;
}

.List{
float: right;
left: 9px;
margin-right: 25PX;
margin-top: 30PX;
opacity: 1;
 padding: 0px 50px;
flex-wrap: wrap;


}
.List li{
    display: inline;
   flex-wrap: wrap;
    margin-top: 30px;
   padding: 0px 15px;
    left: 1px;
    list-style: none;
 
   
   
}
.List li a{
    color: rgb(23, 22, 22);
     text-decoration: none;
     left: 12px;
      font-size:30px;
      position: relative;
       margin-top: 30px;
      cursor: pointer;
filter: brightness(1.30);
}
.List li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 86%;
    height: 2px;
    background: linear-gradient(
  120deg,
  #fff700, /* soft gold */
  #d56305, /* warm orange */
  #bca91a  /* elegant brown */
);

    transition: 0.3s ease;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.List li a:hover::after{
   transform: scaleX(1);
   transition: 0.5s;
}

.List li a:hover{
    color: rgb(239, 142, 45);
   transition: 0.5s;
}
.rrrr{
   height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color:rgba(255, 211, 150, 0.031) ;
    color: rgb(74, 44, 1);
    padding: 11px;
}
.h12{
    text-align: center;
    margin-top: 100px;
    padding: 11px;
    
     margin: auto;
     height: 100vh;
     background: url(../img/22.jpg);
   filter: brightness(0.6);
   z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   
}
.h12::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
     background: url(../img/22.jpg);
   filter: brightness(1);
   z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
  
}
.h12 h1{
    font-size: 60px;
    font-weight:200px;
    color: rgb(253, 200, 141);
    padding: 11px;
    margin-top: 250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   filter: brightness(1);
}
.h12 p{
      font-size:30px;
    font-weight:100px;
    color:rgb(182, 115, 57) ;
    padding: 11px;
}
.rr{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color:rgba(255, 211, 150, 0.881) ;
    color: rgb(255, 255, 255);
    padding: 11px;
}

.rr:hover{
    background-color: rgba(232, 99, 4, 0.544);
    color: aliceblue;
      box-shadow: 0 0 5px #e4a972, 0 0 10px #9c5b05;
}
.bb{
     height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: rgba(86, 36, 0, 0.213);
    color: rgb(255, 255, 255);
      border: 2px solid #f5d4a9;
    padding: 11px;
}
.bb:hover{
  background-color:rgba(128, 75, 1, 0.881) ;
    color: rgb(255, 255, 255);
      box-shadow: 0 0 5px #e4a972, 0 0 10px #9c5b05; 
}

.h{

margin: 100px;
}
.div123 img{
height: 420px;
width: 620px;
border-radius: 8px;
margin-top: -500px;
margin-left: 700px;

box-shadow: 0 0 10px rgb(255, 255, 254);
}

.h h2 span{
    color: #ffffff;
}
.h h2 {
    font-size: 100px;
    color: rgb(243, 216, 16);
}
.h pre{
    color: rgb(248, 207, 0);
    font-size: 22px;
    margin-top: 3px;
}
.h p{
     font-size: 20px;
     color: rgba(255, 255, 255, 0.72);
     margin-top: 8px;
}
.h button{
    width: 135px;
    height: 40px;
  background-color: rgba(100, 89, 55, 0.289);
    color: #ffffff;
    border-radius: 5px;
    margin-top: 12px;
}
.h button:hover{
    background-color: rgba(81, 42, 0, 0.827);
  color: #f7f2ee64;
   box-shadow: 0 0 5px #e4a972, 0 0 10px #9c5b05;
}
.div123 img:hover{
    transition: all;
    transform: matrix(2s);
    transform-origin: 2s;
    height: 420px;
    width: 620px;
}


/*/////////////////////////*/
.section3 h1{
  font-size: 70px;
  color: #ffffff;
  margin-left: 400px;
}
.section3 h1 span{
 color: #ffe100;
}
.sectionb2{
    display: flex;
    gap: 100px;
}
.sectionb2 div{
    height: 260px;
    width: 250px;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 13px;
    margin-top: 15px;
    margin-left: 110;
    position: relative;

}
.sectionb2 div::after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #0000008b;
  
}
.sectionb2 div:hover::after{
  transition: 2s ease;
 width: 100%;
  height: 100%;
   opacity: 0.6;
  
}
.sectionb2 div::before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #0000008b;
  
}
.sectionb2 div:hover::before{
  transition: 2s ease;
 width: 100%;
  height: 100%;
   opacity: 0.6;
  
 
}

.sectionb2 div h3{
  margin-top: 30px;
  font-size: 25px;
}
.sectionb2 div i{
  font-size: 25px;
  margin-top: 8px;
  color: #ffb050;
}
.sectionb2 div p{
  
  color: #673900;
}
.sectionb2 div a{
 text-decoration: none;
  color: #1c3cf0;
}


/*///////////////////////////*/
.hero h3{
  text-align: center;
  margin-top: 5px;
}
.hero p{
  margin-top: 5px;
  padding: 10px 7px ;
  font-size: 20px;
}



.hf{
  font-size: 60px;
  color: #ffffff;
text-align: center;
margin-top:100px ;
}
.oo{
  height: 5px;
  width: 300px;
  color: #ffdd00;
    background: linear-gradient(
  120deg,
  #fdd300e6, /* soft gold */
  #ffd900e3, /* warm orange */
  #ffee00  /* elegant brown */
);
  margin: auto;
  margin-top:10px ;
  border-radius: 5px;
}
.ic{
  color: #f6de0a;
}
.iu{
  color: #ffffff;
}


.myhotel div{
  
  width: 300px;
  height: 170px;
  float: left;
  background-color: rgb(255, 255, 255);
  color: #000000;
  margin: 80px;
  border-radius: 4px;
  margin-top: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
  cursor: pointer;
  
  overflow: hidden;
}
.myhotel div:hover{
 transform: scale(1.05) translateY(-10px); 
  box-shadow: 0 20px 40px rgba(0,0,0,0.5), 0 0 30px rgba(255,255,255,0.2); 
filter: brightness(1.15);

}

.myhotel2 div{
  
  width: 300px;
  height: 170px;
  float: left;
  background-color: #ffffff;
  color: #000000;
  margin: 80px;
  margin-top: -40px;
  border-radius: 4px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
  cursor: pointer;
  
  position: relative;
  overflow: hidden;
}
.myhotel div::after{
position: absolute;
content: "";
width: 0;
height: 0;
top: 0;
left: 0;
background-color: #9c5b05;
opacity: 0.5;
}
.myhotel div:hover::after{
width: 100%;
height: 100%;
transition: 1.5s;
  
}
.myhotel2 div::after{
position: absolute;
content: "";
width: 0;
height: 0;
top: 0;
left: 0;
background-color: #9c5b05;
opacity: 0.6;
}
.myhotel2 div:hover::after{

width: 100%;
height: 100%;
transition: 1.5s;
}
.myhotel2 div:hover{

 transform: scale(1.05) translateY(-10px); 
  box-shadow: 0 20px 40px rgba(0,0,0,0.5), 0 0 30px rgba(255,255,255,0.2); 
filter: brightness(1.15);
}

.spg{
  margin-left: 5px;
  color: #ffbb3d;
}

.myhotel div p{
  margin-top: 15px;
  color: #000000;
  margin-left: 48px;
}

.myhotel2 div p{
  margin-top: 15px;
  color: #000000;
 
   margin-left: 48px;
}
.myhotel2 div h2{
  margin-top:17px ;
   color: #000000;
   margin-left: 10px;
}
.myhotel div h2{
  margin-top:17px ;
  color: #000000;
}
/*lllllllllllllllllllllllllllllllllllllllllllllllllllllllllll*/
.of{
    height: 5px;
  width: 300px;
  color: #ffdd00;
    background: linear-gradient(
  120deg,
  #ffffffe6, /* soft gold */
  #ffffffe3, /* warm orange */
  #ffffff  /* elegant brown */
);
  margin: auto;
  margin-top:10px ;
  border-radius: 5px;
}
.we{
  display: flex;
  flex-wrap: wrap;
}
.section5 h2{
  font-size: 60px;
text-align: center;
color: #eaf10b;
}
.section5 img{
  width: 300px;
  height: 250px;
  border-radius: 10px;
 
}
.s1{
  background-color: #ffffff;
  color: #0b0b0b;
  width: 320px;
  height: 420px;
   box-shadow: 0 0 5px rgb(244, 244, 10);
  margin: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;

  transition: transform 0.3s, box-shadow 0.3s;
}

.se1{
  margin-top: -200PX;
}
.s1 h3{
padding: 10px;
}
.s1 p{
padding: 10px;
}
.s1:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  filter: brightness(1.15);
}
.spa{
color: #ffffff;
}
.pre-tem{
  background-color: #9c5b05;
  border-radius: 10px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 visibility: hidden;
 color: #ffc06e;
 opacity: 0;
 transition: 2s;
 
}
.overlay a{
  display: block;
  width: 33px;
  height: 40px;
  background-color: #ffd900;
  color: #000;
  margin-left: auto;
 
}
.overlay a i{
  line-height: 40px;
}
.s1:hover .overlay{
  visibility: visible;
  opacity: 1;

}
.s1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(42, 40, 39, 0.3);
  transition: height 0.9s ease;
  z-index: 1;
}

.s1:hover::after {
  height: 100%;
}
/*///////////////////////////////////////////*/
.slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-left: 650px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff; /* اللون الأزرق */
}
.dot:hover{
  background-color: #007bff;
}

.swimming{
margin-top: 65px;
}
.S{
color: #ffffff;
}
.sw{
  display: flex;
 margin-top: 50px;
 

}
.swimming h2{
  font-size: 70px;
  text-align: center;
  color: #fedc02;
}
.sw1 h3{
  font-size: 40px;
  padding: 5px 10px;
  margin-top: 30px;
  color: #d3be01;
}
.sw1 div{
  height: 2px;
  width: 100px;
  background-color: #f5f1f1;
  margin-left: 23px;
  border-radius: 5px;
}
.sw1 p{
  font-size: 23px;
  padding: 20px;
color: #ffffff;
}
.sw2 img{
  height: 400px;
  width: 650px;
  border-radius: 10px;
  margin-left: 320px;
   transition: transform 0.3s;
   filter: brightness(1.15);
}
.sw button{
  width: 120px;
  height: 40px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 7px;
  margin-left: 20px;

}
.sw button:hover{
  color: #fff;
  background-color: #867e7e;
}

.sw2 img:hover{ 
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  filter: brightness(1.25);
 }
 /*////////////////////////////////////////////////////////*/
.section7 {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.section-h4 {
  width: 100%;
  font-size: 50px;
  color: #bca91a;
  text-align: center;
  margin-top: 50px;
}

.section7-span {
  font-size: 50px;
  color: #ffffff;
}

.section7 .card {
  height: 320px;
  width: 250px;
  background-color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.section7 .card h1 {
  color: #bf6e1d;
  font-size: 20px;
  font-weight: bold;
}

.section7 .card h2 {
  color: #000;
  font-size: 30px;
  height: 80px;
  width: 80px;
  margin: 15px auto;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid rgb(255, 174, 144);
}

.section7 .card h2 span {
  font-size: 15px;
}

.section7 .card h3 {
  color: #000;
  font-size: 17px;
  margin-top: 15px;
  padding: 7px;
}

.section7 .card button {
  margin-top: 10px;
  height: 30px;
  width: 150px;
  border-radius: 7px;
  border: 1.5px solid rgb(254, 190, 150);
  background-color: #ccc;
  color: #000;
}


.section7 .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(241, 156, 59, 0.3);
  transition: height 0.9s ease;
  z-index: 1;
}

.section7 .card:hover::after {
  height: 100%;
}

.section7 .card * {
  position: relative;
  z-index: 2;
}

.section7 .card button:hover {
  background-color: #0000006f;
  color: #fff;
}
/*///////////////////////////////////////*/

.bacground-8{
 background-attachment: fixed;
 background-image: url(../img/view-luxurious-hotel-interior-space.jpg);
background-size: cover;
  height: 50vh;
  width: 100%;
  opacity: 0.8;
}
.bac-0{
  float: left;
  margin-top: 50px;
}
.bac-1{
  text-align: center;
  float: left;
  margin: 77px;
 margin-right: 160px;
  
}
.bac-1 i{
  color: #ffffff;
  font-size: 30px;
}
.bac-1 h2{
   color: #ffffff;
  font-size: 25px;
}
.bac-1 span{
  color: #ccc;
  font-weight: bold;
}
/*////////////////////////////////////////////*/
.div-bac1{
  background-image: url(../img/MOH.jpg);
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  opacity: 0.7;
  background-size: cover;
}
.div-bac1 div{
 float: left;
 margin: 40px;


}

.img9{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.img-h{
  display: flex;
  flex-wrap: wrap;
}
.img-h2{
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap;
}
.img-h2 div span a{
  text-decoration: none;
  color: #1807ff;
}
.img-h div span a{
  text-decoration: none;
  color: #1807ff;
}
.img-h div span a{
  text-decoration: none;
}
.img-h2 div h1{
  color: #f5f1f1;
}
.img-h2 div p{
  color: #f5f1f1;
}
.img-h div h1{
  color: #f5f1f1;
}
.img-h div p{
  color: #f5f1f1;
}
/*//////////////////////////////////////////////////////*/
.sec-h103{
  margin: auto;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
}
.sec-h103 span{
  color: #bca91a;
}
.div-sec10{
  height: 4px;
  width: 250px;
  margin-left: 42%;
  background-color: #bca91a;
  text-align: center;
  margin-top: 10px;
}

.team-img img{
  height: 250px;
  width: 280px;
 margin-top: 30px;
 border-radius: 5px;

}
.gguu{
  display: flex;
}
.team-print{
  width: 320px;
  height: 490px;
  background-color: #f5f1f1;
   position: relative;
  overflow: hidden;
  transition: 0.3s;
  margin: 70px;
  text-align: center;
  border-radius: 5px;
}
.over-1 i{
  gap:20px;
  margin: 10px;
}
.team-info a{
  margin-top: 10px;
  text-decoration: none;
}

.team-print::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(12, 12, 11, 0.233);
  transition: height 0.9s ease;
  z-index: 1;
 
}

.team-print:hover::after {
  height: 100%;
  
}
.team-print:hover .team-info h2 {
 transition: 1s ease;
  color: #437de7;
}
.team-print:hover .team-info a {
 transition: 1s ease;
  color: #2192d9;
}
/*/////////////////////////////////////////////////////*/
.img23tt{
  width: 300px;
  height: 350px;
position: relative;
text-align: center;
border-radius: 6px;
}
.img23tt::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 0;
  width: 100%;
  background: #00000067;
  transition: 0.3 ease;
}
.img23tt:hover:after{
  height: 100%;
  
}
.img23tt img{
  width: 300px;
  height: 350px;
  background-size: cover;
  border-radius: 7px;
}
.overlaytt{
 
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   margin-top: 90px;
   
 color: #000;
 opacity: 0;
 transition: 0.5s;
 
}
.overlaytt p{
  font-size: 25px;

}
.overlaytt h1{
  font-size: 45px;
}
.overlaytt i{
  font-size: 20px;
  margin: 5px;
  background-color: #ccc;
  height: 25px;
  width:25px ;
  padding: 3px;
  border-radius: 5px;
  color: #000;
}

.img23tt:hover .overlaytt{
  visibility: visible;
  opacity: 0.7;
}
.sec101{
  display: flex;
  margin: 100px;
  gap: 150px;
}
.sec102{
  display: flex;
  margin: 100px;
  gap: 150px;
}
.ov21{
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
.ov212{
  height: 4px;
  width: 250px;
  background-color: #ffcc00;
  margin: auto;
  margin-top: 5px;
}


/*footer/////////////////////////*/
.Footer1{
  height: 60vh;
  width: 100%;
  background-color: #001c50;
  text-align: center;
}
.Footer1 img{
  height: 270px;
  width: 350px;
  margin-top: 30px;
  border-radius:6px ;
}
.Footer1 i{
 background-color: #000;
 color: #bca91a;
 font-size: 40px;
 border-radius: 50%;
 height: 60px;
 width: 60px;
 padding: 10px;
line-height: 40px;
margin-top: 15px;
}
.Footer1 p{
  font-size:27px;
  color: #bca91a;
  margin-top: 7px;
}
.Footer1 i:hover{
transition: 0.4s ease;
background-color: rgba(35, 33, 33, 0.681);
 color: #bca91cc6;
}